{extend name="../common/mt_model"}
{block name="title"}商户订单{/block}
{block name="main"}
<div id="center">
    <select style="float: left;height: 30px" onchange="location.href=this.options[this.selectedIndex].value;">
        <option>选择类型</option>
        <option value ="/merchant/mt_order?flag=all">全部</option>
        <option value ="/merchant/mt_order?flag=pay">已支付</option>
        <option value="/merchant/mt_order?flag=not">未支付</option>
    </select>
    <form style="float: left">
        <input class="a-upload" name="order_num" placeholder="按照订单号搜索">
        <input class="a-upload" style="height: 30px" type="submit" value="搜索">
    </form>
    {eq name="order" value="[]"}
    <div style="position: absolute;left: 50%;top: 150%;transform: translate(-50%,-50%)">
        <h1 style="color: gray">抱歉，这里什么都没有！</h1>
    </div>
    {else/}
    <table width="1350px">
        <tr>
            <th style="background: #5eb4b1;color: white">订单编号</th>
            <th style="background: #5eb4b1;color: white">创建时间</th>
            <th style="background: #5eb4b1;color: white">支付状态</th>
            <th style="background: #5eb4b1;color: white">支付时间</th>
            <th style="background: #5eb4b1;color: white">订单金额</th>
            <th style="background: #5eb4b1;color: white">会员ID</th>
            <th style="background: #5eb4b1;color: white">商户名称</th>
        </tr>
        {foreach $order as $o}
        <tr>
            <td>{$o['order_num']}</td>
            <td>{$o['create_time']}</td>
            {eq name=":$o['pay_status']" value="0"}
            <td>未支付</td>
            <td>未支付</td>
            {else/}
            <td>已支付</td>
            <td>{$o['pay_time']}</td>
            {/eq}
            <td>{$o['order_price']}</td>
            <td>{$o['order_mb_id']}</td>
            <td>{$o['order_mt']}</td>
        </tr>
        <tr>
            <td><hr></td>
            <td><hr></td>
            <td><hr></td>
            <td><hr></td>
            <td><hr></td>
            <td><hr></td>
            <td><hr></td>
        </tr>
        {/foreach}
    </table>
    {/eq}
    <form action="/merchant/mt_order" method="post">
        <input style="height: 30px" class="a-upload" name="low" type="submit" value="上一页">
        <input style="width: 10px" class="a-upload" name="num" type="text" readonly value="{$num}">
        <input style="height: 30px" class="a-upload" name="up" type="submit" value="下一页">
    </form>
</div>
<style>
    #center{
        background: #f7f7f7;
        position: relative;
        left: 35px;
        top: 30px;
        height: 150px;
        width: 1350px;
    }
    #center th{
        width: 14%;
    }
    .a-upload {
        padding: 4px 10px;
        height: 20px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        color: #888;
        background: #fafafa;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
        display: inline-block;
        *display: inline;
        *zoom: 1
    }
    .a-upload  input {
        position: absolute;
        font-size: 100px;
        text-align: center;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }
    .a-upload:hover {
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none
    }
</style>
{/block}